# Gallery

> This notebook is a gallery of interesting and useful NRQL queries that you can use to explore your New Relic data.

## Queries

### Example 1

How to write commentaries in NRQL.

#### Input

<pre>
```nrql
-- single line comment

// single line comment

/*
    multi-line
    comment
*/
```
</pre>

#### Output

```nrql
-- single line comment

// single line comment

/*
    multi-line
    comment
*/
```

### Example 2

How to write commentaries inside NRQL queries.

#### Input

<pre>
```nrql
SHOW EVENT TYPES /* sample intermediate multiline comment */ 
SINCE
    1 day ago
UNTIL
    NOW
```
</pre>

#### Output

```nrql
SHOW EVENT TYPES /* sample intermediate multiline comment */ 
SINCE
    1 day ago
UNTIL
    NOW
```

### Example 3

Get all event types in your account.

#### Input

<pre>
```nrql
-- Show all event types
SHOW EVENT TYPES
```
</pre>

#### Output

```nrql
-- Show all event types
SHOW EVENT TYPES
```

### Example 4

Get latest actionName in uppercase.

#### Input

<pre>
```nrql
FROM
    PageAction
SELECT
    latest(upper(actionName))
WHERE
    upper(actionName) = upper('acmePageRenderedEvent') OR upper(actionName) = upper('SubmitLogin')
FACET
    concat(actionName, ':', upper(actionName))
```
</pre>

#### Output

```nrql
FROM
    PageAction
SELECT
    latest(upper(actionName))
WHERE
    upper(actionName) = upper('acmePageRenderedEvent') OR upper(actionName) = upper('SubmitLogin')
FACET
    concat(actionName, ':', upper(actionName))
```

### Example 5

Get all page views in the last per day in the last 7 days.

#### Input

<pre>
```nrql
FROM
    PageView
SELECT
    count(*)
TIMESERIES
    1 day 
WITH TIMEZONE 
    'Europe/London'
SINCE
    4 week ago
UNTIL
    today
```
</pre>

#### Output

```nrql
FROM
    PageView
SELECT
    count(*)
TIMESERIES
    1 day 
WITH TIMEZONE 
    'Europe/London'
SINCE
    4 week ago
UNTIL
    today
```

### Example 6

Get average response time in milliseconds by url and response code each 5 minutes in the last 24 hours.

#### Input

<pre>
```nrql
FROM
    PageView
WITH
    duration * 1000 AS `duration.ms`,
    capture(pageUrl, r'https://(?P<baseUrl>.*.com)/.+') AS `url.domain`
SELECT
    average(`duration.ms`) AS 'Average Response Time (ms)',
WHERE
    app.name = 'My Application' AND 
    duration > 0
FACET
    `url.domain`,
    CASES(
        numeric(`http.statusCode`) < 400 AS 'Success',
        numeric(`http.statusCode`) < 500 AS 'Client Error',
        numeric(`http.statusCode`) < 600 AS 'Server Error', 
    ) AS 'Status'
TIMESERIES
    5 minutes
SINCE
    24 hours ago
WITH TIMEZONE
    'America/New_York'
COMPARE WITH
    1 week ago
```

</pre>

#### Output

```nrql
FROM
    PageView
WITH
    duration * 1000 AS `duration.ms`,
    capture(pageUrl, r'https://(?P<baseUrl>.*.com)/.+') AS `url.domain`
SELECT
    average(`duration.ms`) AS 'Average Response Time (ms)',
WHERE
    app.name = 'My Application' AND 
    duration > 0
FACET
    `url.domain`,
    CASES(
        numeric(`http.statusCode`) < 400 AS 'Success',
        numeric(`http.statusCode`) < 500 AS 'Client Error',
        numeric(`http.statusCode`) < 600 AS 'Server Error', 
    ) AS 'Status'
TIMESERIES
    5 minutes
SINCE
    24 hours ago
WITH TIMEZONE
    'America/New_York'
COMPARE WITH
    1 week ago
```

### Example 7

Delete metrics

#### Input

<pre>
```nrql
DELETE FROM
    Metric
WHERE
    metricName = 'newrelic.goldenmetrics.infra.kubernetes_pod.podScheduled'
```
</pre>

#### Output

```nrql
DELETE FROM
    Metric
WHERE
    metricName = 'newrelic.goldenmetrics.infra.kubernetes_pod.podScheduled'
```

### Example 8

Use `mapKeys` and `jsparse` to extract the keys from a JSON object and parse them into a map.

#### Input

<pre>
```nrql
WITH 
    '{"value1": "test", "value2": {"nestedValue1": [1, 2, 3], "nestedValue2": 100}}' AS jsonString
SELECT 
    mapKeys(jparse(jsonString)) AS keys
```
</pre>

#### Output

```nrql
WITH 
    '{"value1": "test", "value2": {"nestedValue1": [1, 2, 3], "nestedValue2": 100}}' AS jsonString
SELECT 
    mapKeys(jparse(jsonString)) AS keys
```

### Example 9

Sample query using the predict feature to forecast future values based on historical data.

#### Input

<pre>
```nrql
FROM
    Transaction
SELECT
    count(*)
WHERE
    error IS TRUE TIMESERIES
PREDICT 
    holtwinters(seasonality: AUTO, alpha: 0.2) 
    BY
        1 hour
    USING 
        2 hours
```
</pre>

#### Output

```nrql
FROM
    Transaction
SELECT
    count(*)
WHERE
    error IS TRUE TIMESERIES
PREDICT 
    holtwinters(seasonality: AUTO, alpha: 0.2) 
    BY
        1 hour
    USING 
        2 hours
```